<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Rocketgif - World first Rocket League gifs website!{% endblock %}</title>
        <meta name="description" content="">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        {% block meta %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <a href="{{ path('app_main_homepage') }}" class="logo"><span class="rocket">ROCKET</span><span class="gif">GIF</span></a>
            <nav>
                <ul>
                    <li><a href="{{ path('app_main_submission_add') }}">Add your own plays!</a></li>
                </ul>
            </nav>
        </div>
        <div id="main" class="container-fluid">
            {% block main %}{% endblock %}
        </div>
        <script type"text/javascript" src="http://test.gfycat.com/gfycat_test_june25.js"></script>
        {{ render(controller('AppMainBundle:Homepage:piwik')) }}
    </body>
</html>
