{% extends 'AppMainBundle::layout.html.twig' %}

{% block title %}{{ post.title }} by {{ post.author }} - Rocketgif{% endblock %}

{% block meta %}
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@rocketgif">
    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.title }}">
    <meta name="twitter:image" content="https://thumbs.gfycat.com/{{ post.gfycatKey }}-poster.jpg">
    <meta name="twitter:player" content="https://gfycat.com/ifrt/{{ post.gfycatKey }}">
    <meta name="twitter:player:stream" content="{{ post.webmUrl }}">
    <meta name="twitter:player:stream" content="{{ post.mp4Url }}">
    <meta name="twitter:player:stream:content_type" content="video/mp4">
    <meta name="twitter:player:width" content="{{ post.width }}">
    <meta name="twitter:player:height" content="{{ post.height }}">
{% endblock %}

{% block main %}
    <article>
        <figure>
            <figcaption>
                {{ post.title }}
                {% if post.author %}
                    <div class="author">by {{ post.author }}</div>
                {% endif %}
            </figcaption>
            <div class="gfyitem" data-id="{{ post.gfycatKey }}" data-autoplay=false data-expand=true></div>
        </figure>
    </article>
{% endblock %}
